
@{
    ViewBag.Title = "IndexYear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div align="right">
    <a href="@Url.Action("IndexMonth", "DashBoard")" class="btn btn-primary" id="watchYear">Watch the Revenues of Months</a>
</div>

<div id="chartContainer"></div>

@section scripts{
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">

        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light2",
                animationEnabled: true,
                title: {
                    text: "Revenues of Years"
                },
                subtitles: [
                    { text: "Try Resizing the Browser" }
                ],
                data: [
                    {
                        type: "line", //change type to bar, line, area, pie, etc
                        /**/
                        dataPoints: @Html.Raw(ViewBag.DataPoints)
                    }
                ]
            });
            chart.render();
        };
    </script>
}



